AUDIBLE_CREDENTIALS={"accessToken":"...","refreshToken":"...","adpToken":"...","devicePrivateKey":"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n","serial":"...","locale":"fr","expiresAt":"2026-01-01T00:00:00.000Z"}
